ProjectSecurity/GenerateAlphabet/bin/Debug/GenerateAlphabet.vshost.exe
ProjectSecurity/GenerateAlphabet/bin/Debug/GenerateAlphabet.vshost.exe.config
ProjectSecurity/GenerateAlphabet/bin/Debug/GenerateAlphabet.exe
ProjectSecurity/GenerateAlphabet/bin/Debug/GenerateAlphabet.exe.config
ProjectSecurity/GenerateAlphabet/obj/Debug/GenerateAlphabet.exe
Security/Security/obj/Debug/TempPE/Resource.TextTemplate1.cs.dll
Security/Security/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Security/Security/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Security/Security/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Security/Security/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Security/Security/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Security/Security/obj/Debug/TempPE/Resource.RuntimeTextTemplate1.cs.dll
ProjectSecurity/GenerateAlphabet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSecurity/GenerateAlphabet/obj/Debug/GenerateAlphabet.csproj.FileListAbsolute.txt
ProjectSecurity/GenerateAlphabet/obj/Debug/GenerateAlphabet.pdb
ProjectSecurity/GenerateAlphabet/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjectSecurity/GenerateAlphabet/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjectSecurity/GenerateAlphabet/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjectSecurity/Presenter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSecurity/Presenter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjectSecurity/Presenter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjectSecurity/Presenter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjectSecurity/ProjectSecurity/bin/Debug/ProjectSecurity.vshost.exe
ProjectSecurity/ProjectSecurity/bin/Debug/ProjectSecurity.vshost.exe.config
ProjectSecurity/ProjectSecurity/bin/Debug/ProjectSecurity.vshost.exe.manifest
ProjectSecurity/ProjectSecurity/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProjectSecurity/ProjectSecurity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSecurity/ProjectSecurity/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjectSecurity/ProjectSecurity/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjectSecurity/ProjectSecurity/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjectSecurity/View/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSecurity/View/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjectSecurity/View/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjectSecurity/View/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjectSecurity/Presenter/bin/Debug/Presenter.dll
ProjectSecurity/Presenter/bin/Debug/Presenter.pdb
ProjectSecurity/Presenter/bin/Debug/Security.dll
ProjectSecurity/Presenter/bin/Debug/Security.pdb
ProjectSecurity/Presenter/bin/Debug/Security.xml
ProjectSecurity/Presenter/bin/Debug/View.dll
ProjectSecurity/Presenter/bin/Debug/View.pdb
ProjectSecurity/Presenter/obj/Debug/Presenter.csproj.FileListAbsolute.txt
ProjectSecurity/Presenter/obj/Debug/Presenter.csprojResolveAssemblyReference.cache
ProjectSecurity/Presenter/obj/Debug/Presenter.dll
ProjectSecurity/Presenter/obj/Debug/Presenter.pdb
ProjectSecurity/ProjectSecurity/bin/Debug/Presenter.dll
ProjectSecurity/ProjectSecurity/bin/Debug/Presenter.pdb
ProjectSecurity/ProjectSecurity/bin/Debug/ProjectSecurity.exe
ProjectSecurity/ProjectSecurity/bin/Debug/ProjectSecurity.exe.config
ProjectSecurity/ProjectSecurity/bin/Debug/ProjectSecurity.pdb
ProjectSecurity/ProjectSecurity/bin/Debug/Security.dll
ProjectSecurity/ProjectSecurity/bin/Debug/Security.pdb
ProjectSecurity/ProjectSecurity/bin/Debug/Security.xml
ProjectSecurity/ProjectSecurity/bin/Debug/View.dll
ProjectSecurity/ProjectSecurity/bin/Debug/View.pdb
ProjectSecurity/ProjectSecurity/obj/Debug/ProjectSecurity.csproj.FileListAbsolute.txt
ProjectSecurity/ProjectSecurity/obj/Debug/ProjectSecurity.csproj.GenerateResource.Cache
ProjectSecurity/ProjectSecurity/obj/Debug/ProjectSecurity.csprojResolveAssemblyReference.cache
ProjectSecurity/ProjectSecurity/obj/Debug/ProjectSecurity.exe
ProjectSecurity/ProjectSecurity/obj/Debug/ProjectSecurity.pdb
ProjectSecurity/ProjectSecurity/obj/Debug/ProjectSecurity.ProjectSecurity.resources
ProjectSecurity/ProjectSecurity/obj/Debug/ProjectSecurity.Properties.Resources.resources
Security/Security/obj/Debug/Security.csproj.FileListAbsolute.txt
Security/Security/obj/Debug/Security.csprojResolveAssemblyReference.cache
Security/Security/obj/Debug/Security.dll
Security/Security/obj/Debug/Security.pdb
ProjectSecurity/View/bin/Debug/View.dll
ProjectSecurity/View/bin/Debug/View.pdb
ProjectSecurity/View/obj/Debug/View.csproj.FileListAbsolute.txt
ProjectSecurity/View/obj/Debug/View.csprojResolveAssemblyReference.cache
ProjectSecurity/View/obj/Debug/View.dll
ProjectSecurity/View/obj/Debug/View.pdb
Security/Security/bin/Debug/Security.dll
Security/Security/bin/Debug/Security.pdb
Security/Security/bin/Debug/Security.XML
ProjectSecurity/FileManager/bin/Debug/FileManager.dll
ProjectSecurity/FileManager/bin/Debug/FileManager.pdb
ProjectSecurity/FileManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSecurity/FileManager/obj/Debug/FileManager.csproj.FileListAbsolute.txt
ProjectSecurity/FileManager/obj/Debug/FileManager.dll
ProjectSecurity/FileManager/obj/Debug/FileManager.pdb
ProjectSecurity/FileManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjectSecurity/FileManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjectSecurity/FileManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjectSecurity/Presenter/bin/Debug/FileManager.dll
ProjectSecurity/Presenter/bin/Debug/FileManager.pdb
ProjectSecurity/ProjectSecurity/bin/Debug/FileManager.dll
ProjectSecurity/ProjectSecurity/bin/Debug/FileManager.pdb
ProjectSecurity/FileManager/obj/Debug/FileManager.csprojResolveAssemblyReference.cache
