ProjectSecurity/GenerateAlphabet/bin/Debug/GenerateAlphabet.vshost.exe
ProjectSecurity/GenerateAlphabet/bin/Debug/GenerateAlphabet.vshost.exe.config
ProjectSecurity/GenerateAlphabet/bin/Debug/GenerateAlphabet.exe
ProjectSecurity/GenerateAlphabet/bin/Debug/GenerateAlphabet.exe.config
ProjectSecurity/GenerateAlphabet/obj/Debug/GenerateAlphabet.exe
Security/Security/obj/Debug/TempPE/Resource.TextTemplate1.cs.dll
Security/Security/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Security/Security/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Security/Security/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Security/Security/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Security/Security/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Security/Security/obj/Debug/TempPE/Resource.RuntimeTextTemplate1.cs.dll
ProjectSecurity/GenerateAlphabet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSecurity/GenerateAlphabet/obj/Debug/GenerateAlphabet.csproj.FileListAbsolute.txt
ProjectSecurity/GenerateAlphabet/obj/Debug/GenerateAlphabet.pdb
ProjectSecurity/GenerateAlphabet/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjectSecurity/GenerateAlphabet/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjectSecurity/GenerateAlphabet/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjectSecurity/Presenter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSecurity/Presenter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjectSecurity/Presenter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjectSecurity/Presenter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjectSecurity/ProjectSecurity/bin/Debug/ProjectSecurity.vshost.exe
ProjectSecurity/ProjectSecurity/bin/Debug/ProjectSecurity.vshost.exe.config
ProjectSecurity/ProjectSecurity/bin/Debug/ProjectSecurity.vshost.exe.manifest
ProjectSecurity/ProjectSecurity/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProjectSecurity/ProjectSecurity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSecurity/ProjectSecurity/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjectSecurity/ProjectSecurity/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjectSecurity/ProjectSecurity/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjectSecurity/View/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSecurity/View/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjectSecurity/View/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjectSecurity/View/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
